/* YOUR CUSTOM STYLES */

.h1{
    font-family: "Bell MT";
    background-color: #00acc1;
}
.jumbotron{
    color: #00acc1;
}


.myModal {
    top:20%;
    left:3%;
    outline: none;
}